/* --- PÁGINA APOIE O PROJETO --- */
.pg-apoie{

}
	.pg-apoie h2.pagina-titulo{

	}
	.pg-apoie article{
		display: flex;
		justify-content: center;
	}
		.pg-apoie article p{
			font-size: 16px;
			font-family: var(--domine);
			padding: 30px 10px;
			max-width: 38%;
		}
	.pg-apoie ul.lista-apoie{
		display: flex;
		justify-content: space-around;
		margin: 60px 0 40px;
		flex-wrap: wrap;
	}
		.pg-apoie ul.lista-apoie li{
			text-align: center;
			box-shadow: 0 0 14px -10px;
			padding: 45px;
		}
			.pg-apoie ul.lista-apoie li a{
				text-decoration: none;
			}
				.pg-apoie ul.lista-apoie li a figure{
					background-color: var(--amarelo-footer-claro);
					border-radius: 100%;
					max-width: 210px;
					padding: 24px;
					margin: 0 auto;
				}
					.pg-apoie ul.lista-apoie li a figure img{
						max-width: 100%;
					}
				.pg-apoie ul.lista-apoie li a h2.nome-produto{
					font-size: 22px;
					color: var(--preto);
					font-weight: 200;
				}
				.pg-apoie ul.lista-apoie li a p.preco{
					color: var(--cinza);
					font-weight: 600;
				}
			.pg-apoie ul.lista-apoie li .btn-comprar{

			}
				.pg-apoie ul.lista-apoie li .btn-comprar a{
					background-color: var(--cinza);
					color: var(--preto);
					font-weight: 700;
					display: inline-block;
					padding: 7px 15px;
				}

/* --- MEDIA QUERY --- */
@media(max-width: 991px){
	.pg-apoie article p {
		font-size: 15px;
		max-width: 100%;
	}
	.pg-apoie ul.lista-apoie {
		justify-content: center;
	}
	.pg-apoie ul.lista-apoie li {
		padding: 30px;
		margin: 10px 10px;
	}
}

@media(max-width: 768px){
	.pg-apoie article p {
		padding: 0px 10px;
	}
	.pg-apoie article {
		display: block;
	}
}

@media(max-width: 620px){
	.pg-apoie ul.lista-apoie li {
		padding: 40px;
		margin: 10px 0;
		width: 100%;
		max-width: 350px;
	}
}
/* MEDIA QUERY */