/* --- PÁGINA AUTOR --- */
.pg-autor{

}
	.pg-autor h2.pagina-titulo{
		text-align: center;
	}
	.pg-autor .sobre-autor{
		border-top: none !important;
		margin: 0px 30px 0 0 !important;
	}
		.pg-autor .sobre-autor figure.foto-autor{

		}
			.pg-autor .sobre-autor figure.foto-autor img{

			}
		.pg-autor .sobre-autor article{

		}
			.pg-autor .sobre-autor article p{
				line-height: 30px;
				font-size: 17px;
			}
	.pg-autor ul.lista-posts{

	}
		.pg-autor ul.lista-posts li{

		}
			.pg-autor ul.lista-posts li figure.post-imagem{
				max-width: 350px;
			}
				.pg-autor ul.lista-posts li figure.post-imagem img{

				}
			.pg-autor ul.lista-posts li span.post-info{

			}
				.pg-autor ul.lista-posts li span.post-info span.post-data{
					display: block;
					margin-bottom: 10px;
					font-size: 13px;
					color: #828282;
					font-weight: 200;
				}
				.pg-autor ul.lista-posts li span.post-info a{

				}
					.pg-autor ul.lista-posts li span.post-info a span.post-categoria{

					}
					.pg-autor ul.lista-posts li span.post-info a h2.post-titulo{

					}
					.pg-autor ul.lista-posts li span.post-info a h2.post-autor{

					}
				.pg-autor ul.lista-posts li span.post-info p{

				}

/* --- MEDIA QUERY --- */
@media(max-width: 991px){
	.pg-autor .sobre-autor article p {
		line-height: 24px;
		font-size: 16px;
	}
	.pg-autor ul.lista-posts li figure.post-imagem {
		max-width: 460px;
		margin: 0 auto;
	}
	.pg-autor ul.lista-posts li {
		display: block !important;
	}
}
/* MEDIA QUERY */