/* --- PÁGINA DE CATEGORIA --- */
.pg-categoria{

}
	.pg-categoria h2.pagina-titulo{

	}
	.pg-categoria ul.lista-posts{
		margin: 0;
	}
		.pg-categoria ul.lista-posts li{
			display: flex;
			margin: 40px 0 0;
		}
			.pg-categoria ul.lista-posts li figure.post-imagem{
				max-width: 440px;
			}
				.pg-categoria ul.lista-posts li figure.post-imagem img{
					width: 100%;
				}
			.pg-categoria ul.lista-posts li span.post-info{
				flex-shrink: 20;
				padding: 10px 20px;
			}
				.pg-categoria ul.lista-posts li span.post-info a{

				}
					.pg-categoria ul.lista-posts li span.post-info a h2.post-titulo{
						min-height: 130px;
					}
					.pg-categoria ul.lista-posts li span.post-info a h2.post-auto{

					}
				.pg-categoria ul.lista-posts li span.post-info p.post-resumo{
					font-size: 15px;
					min-height: 90px;
					padding: 0 0 12px;
				}
	.pg-categoria .paginador{
		display: flex;
		justify-content: space-between;
		padding: 10px 0 0;
	}
		.pg-categoria .paginador p{
			margin: 0;
		}
			.pg-categoria .paginador p a{
				color: var(--preto);
				font-family: var(--domine);
				font-weight: 600;
				font-size: 15px;
				position: relative;
			}
			.pg-categoria .paginador p a.next{
				padding-right: 17px;
			}
			.pg-categoria .paginador p a.prev{
				padding-left: 17px;
			}
			.pg-categoria .paginador p a::before{
				content: '';
				position: absolute;
				display: block;
				width: 15px;
				height: 15px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				background-size: 10px;
				background-repeat: no-repeat;
				background-position: center;
			}
			.pg-categoria .paginador p a.next::before{
				background-image: url('../img/r.svg');
				right: 0;
			}
			.pg-categoria .paginador p a.prev::before{
				background-image: url('../img/l.svg');
				left: 0;
			}

/* --- PÁGINA DE VÍDEOS --- */
.pg-videos{

}
	.pg-videos h2.pagina-titulo{

	}
	.pg-videos ul.lista-posts{
		margin: 0;
	}
		.pg-videos ul.lista-posts li{
			display: block !important;
			margin: 40px 0 0;
		}
			.pg-videos ul.lista-posts li div.video{
				max-width: 790px;
				display: block;
				margin: 0 auto;
				padding: 25px;
			}
				.pg-videos ul.lista-posts li div.video iframe{
					width: 100%;
					min-height: 462px;
				}
			.pg-videos ul.lista-posts li span.post-info{
				padding: 10px 30px !important;
			}
				.pg-videos ul.lista-posts li span.post-info a{

				}
					.pg-videos ul.lista-posts li span.post-info a h2.post-titulo{

					}
					.pg-videos ul.lista-posts li span.post-info a h2.post-auto{

					}
				.pg-videos ul.lista-posts li span.post-info p.post-resumo{
					font-size: 15px;
					padding: 10px 0 25px;
				}

/* --- MEDIA QUERY --- */
@media(max-width: 500px){
	.pg-categoria ul.lista-posts li span.post-info a h2.post-titulo {
		font-size: 24px;
	}
}
/* MEDIA QUERY */