/* --- PÁGINA DE CONTATO --- */
.pg-contato{

}
	.pg-contato .formulario-contato{

	}
		.pg-contato .formulario-contato h2.pagina-titulo{

		}
		.pg-contato .formulario-contato form{

		}
			.pg-contato .formulario-contato form label{
				display: block;
				margin: 16px 0 5px;
			}
			.pg-contato .formulario-contato form input{

			}
			.pg-contato .formulario-contato form input[type="submit"]{
				width: unset;
				padding: 8px 32px;
				background-color: var(--amarelo-footer);
				color: var(--preto);
				border: none;
				font-size: 13px;
				font-family: var(--league-spartan);
				text-transform: uppercase;
				letter-spacing: 2px;
				margin: 25px 0 0;
			}
			.pg-contato .formulario-contato form textarea{
				resize: none;
				min-height: 90px;
			}
			.pg-contato .formulario-contato form input, .pg-contato .formulario-contato form textarea{
				display: block;
				width: 100%;
				padding: 5px 8px;
				outline: none;
			}
			.pg-contato .formulario-contato form input::placeholder, .pg-contato .formulario-contato form textarea::placeholder{
				color: #bdbdbd;
				font-weight: 200;
			}
	.pg-contato .redes-sociais{
		padding: 0 0 0 40px;
	}
		.pg-contato .redes-sociais h6{

		}
		.pg-contato .redes-sociais ul{

		}
			.pg-contato .redes-sociais ul li{
				margin: 18px 0;
				padding: 0 100px 0 0;
			}
				.pg-contato .redes-sociais ul li a{
					align-items: center;
					display: flex;
					color: var(--preto);
					background-color: var(--amarelo-footer);
					border-radius: 3px;
					padding: 10px 20px;
					text-decoration: none;
				}
					.pg-contato .redes-sociais ul li a figure.icone{
						max-width: 60px;
					}
						.pg-contato .redes-sociais ul li a figure.icone img{
							width: 100%;
						}
					.pg-contato .redes-sociais ul li a p{
						font-size: 18px;
						padding-left: 15px;
						font-family: var(--league-spartan);
						margin: 0;
					}

/* --- MEDIA QUERY --- */
@media(max-width: 991px){
	.pg-contato h2.pagina-titulo{
		font-size: 28px !important;
	}
	.pg-contato .redes-sociais ul li {
		padding: 0 30px 0 0;
	}
	.pg-contato .redes-sociais ul li a figure.icone {
		max-width: 40px;
	}
}
@media(max-width: 768px){
	.pg-contato .redes-sociais {
		padding: 0;
	}
	.pg-contato .redes-sociais ul li {
		padding: 0;
	}
}
/* MEDIA QUERY */