/* --- PÁGINA DE SERVIÇOS --- */
.pg-servicos{
	
}
	.pg-servicos .titulo{
		
	}
		.pg-servicos .titulo h1{
			
		}
	.pg-servicos ul.lista-servicos{
		margin: 70px 0 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
		.pg-servicos ul.lista-servicos li{
			width: 100%;
			max-width: 365px;
			box-shadow: 0 0px 15px -12px;
		}
			.pg-servicos ul.lista-servicos li figure.imagem-servico{
				max-width: 520px;
			}
				.pg-servicos ul.lista-servicos li figure.imagem-servico img{
					width: 100%;
				}
				.pg-servicos ul.lista-servicos li figure.imagem-servico figcaption{
					
				}
			.pg-servicos ul.lista-servicos li .servico-info{
				flex-shrink: 10;
				padding: 25px;
			}
				.pg-servicos ul.lista-servicos li .servico-info h2.servico-titulo{
					margin: 0;
					font-family: var(--league-spartan);
					font-weight: 600;
				}
				.pg-servicos ul.lista-servicos li .servico-info p.servico-resumo{
					font-size: 16px;
					font-weight: 300;
					margin: 25px 0 0;
				}

/* --- MEDIA QUERY --- */
@media(max-width: 1200px){
	.pg-servicos ul.lista-servicos {
		justify-content: center;
	}
	.pg-servicos ul.lista-servicos li {
		margin: 0 10px 20px;
	}
}

@media(max-width: 991px){
	.pg-servicos ul.lista-servicos li .servico-info {
		padding: 22px;
	}
	.pg-servicos ul.lista-servicos li .servico-info h2.servico-titulo {
		font-size: 25px;
	}
	.pg-servicos ul.lista-servicos li .servico-info p.servico-resumo {
		font-size: 15px;
	}
	.pg-servicos ul.lista-servicos li {
		max-width: 275px;
	}
	.pg-servicos ul.lista-servicos li {
		max-width: 340px;
	}
}

@media(max-width: 768px){
	.pg-servicos ul.lista-servicos li {
		max-width: 500px;
		margin: 20px 0;
	}
}

@media(max-width: 500px){
	.pg-servicos ul.lista-servicos {
		margin: 20px 0 40px;
	}
}

@media(max-width: 425px){
	.pg-servicos ul.lista-servicos {
		margin: 20px 0 0px;
	}
}
/* MEDIA QUERY */