/* --- SIDEBAR --- */
.sidebar{}
/* SIDEBAR */


/* --- SIDEBAR MAIS VISTOS --- */
.sidebar-mais-vistos{

}
	.sidebar-mais-vistos h3.secao-titulo{

	}
	.sidebar-mais-vistos ul.posts-mais-vistos{

	}
		.sidebar-mais-vistos ul.posts-mais-vistos li{
			display: flex;
			margin: 12px 0;
			border-bottom: 1px solid var(--preto);
			padding: 0 0 10px;
		}
			.sidebar-mais-vistos ul.posts-mais-vistos li span.post-index{
				font-size: 50px;
				line-height: initial;
				/*font-family: var(--libre-franklin);*/
				font-weight: 700;
			}
			.sidebar-mais-vistos ul.posts-mais-vistos li span.post-info{
				padding: 0 18px;
			}
				.sidebar-mais-vistos ul.posts-mais-vistos li span.post-info a{

				}
					.sidebar-mais-vistos ul.posts-mais-vistos li span.post-info a span.post-categoria{
						font-size: 12px;
					}
					.sidebar-mais-vistos ul.posts-mais-vistos li span.post-info a h2.post-titulo{
						font-size: 20px;
					}
	.sidebar-mais-vistos .anuncios{
		
	}
		.sidebar-mais-vistos .anuncios a.anuncio{
			display: block;
			margin: 30px 0;
		}
			.sidebar-mais-vistos .anuncios a.anuncio figure{
				
			}
				.sidebar-mais-vistos .anuncios a.anuncio figure img{
					width: 100%;
					max-width: 100%;
				}
/* SIDEBAR MAIS VISTOS */


/* --- SIDEBAR COLUNISTAS --- */
.sidebar-colunistas{

}
	.sidebar-colunistas h3.secao-titulo{

	}
	.sidebar-colunistas ul.lista-colunistas{

	}
		.sidebar-colunistas ul.lista-colunistas li{
			display: flex;
			margin: 15px 0;
			border-bottom: 1px solid var(--cinza);
			padding-bottom: 10px;
		}
		.sidebar-colunistas ul.lista-colunistas li:last-child{
			border: none;
		}
			.sidebar-colunistas ul.lista-colunistas li figure.foto-colunista{
				max-width: 85px;
			}
				.sidebar-colunistas ul.lista-colunistas li figure.foto-colunista img{
					width: 100%;
					border-radius: 100%;
				}
			.sidebar-colunistas ul.lista-colunistas li .colunista-info{
				flex-shrink: 10;
				padding: 0px 15px;
			}
				.sidebar-colunistas ul.lista-colunistas li .colunista-info h2.nome-colunista{
					color: var(--amarelo-claro);
					font-weight: 500;
					font-family: var(--league-spartan);
					text-transform: uppercase;
					font-size: 12px;
				}
				.sidebar-colunistas ul.lista-colunistas li .colunista-info a{

				}
					.sidebar-colunistas ul.lista-colunistas li .colunista-info a h2.post-titulo{
						font-size: 17px;
						margin: 5px 0;
					}
				.sidebar-colunistas ul.lista-colunistas li .colunista-info p.post-resumo{
					margin: 0;
				}
			.sidebar-colunistas ul.lista-colunistas li a{

			}
/* SIDEBAR COLUNISTAS */

/* --- MEDIA QUERY ---*/
@media(max-width: 991px){
	.sidebar-mais-vistos ul.posts-mais-vistos li span.post-info a h2.post-titulo {
		font-size: 15px;
	}
	.sidebar-mais-vistos ul.posts-mais-vistos li span.post-index {
		font-size: 40px;
	}
	.pg-videos ul.lista-posts li div.video iframe {
		min-height: 314px;
	}
}
@media(max-width: 768px){
	.sidebar-mais-vistos .anuncios a.anuncio figure {
		max-width: 330px;
		margin: 0 auto;
	}
	.pg-videos ul.lista-posts li div.video iframe {
		min-height: 353px;
	}
	.pg-videos ul.lista-posts li div.video {
		padding: 0;
	}
}
@media(max-width: 500px){
	.pg-videos ul.lista-posts li div.video iframe {
		min-height: 315px;
	}
	.pg-videos ul.lista-posts li span.post-info {
		padding: 10px 0!important;
	}
	.pg-videos ul.lista-posts li span.post-info a h2.post-titulo {
		font-size: 25px;
	}
}
@media(max-width: 425px){
	.pg-videos ul.lista-posts li div.video iframe {
		min-height: 0;
		max-height: 220px;
	}
}
@media(max-width: 320px){
	.pg-videos ul.lista-posts li div.video iframe {
		max-height: 169px;
	}
}
/*  MEDIA QUERY */