/* --- PÁGINA DE POST --- */
.pg-post{

}
	.pg-post div.post-info{
		border-left: 7px solid var(--amarelo);
		padding-left: 10px;
		margin: 0 0 25px;
		padding: 6px 0px 5px 10px;
	}
		.pg-post div.post-info a{

		}
			.pg-post div.post-info a span.post-categoria{

			}
		.pg-post div.post-info span.post-data{
			display: block;
			margin: 8px 0;
		}
		.pg-post div.post-info h2.post-titulo{
			font-size: 40px;
			margin: 8px 0 15px;
		}
		.pg-post div.post-info p.post-resumo{
			font-size: 18px;
			margin: 8px 0;
		}
		.pg-post div.post-info span.post-autor{
			font-size: 15px;
			font-family: var(--domine);
			font-weight: 600;
		}
			.pg-post div.post-info span.post-autor a{
				display: inline-block;
				color: var(--amarelo);
			}
				.pg-post div.post-info span.post-autor a h2{
					margin: 0;
					font-size: 15px;
					font-weight: 600;
				}
	.pg-post .post-conteudo{
		padding-right: 25px;
	}
		.pg-post .post-conteudo figure.post-imagem{
			max-width: 650px;
			margin: 0 auto;
			text-align: center;
		}
			.pg-post .post-conteudo figure.post-imagem img{
				width: 100%;
			}
			.pg-post .post-conteudo figure.post-imagem figcaption{
				padding: 16px 0;
			}
		.pg-post .post-conteudo div.video{
			max-width: 790px;
			display: block;
			margin: 0 auto;
			padding: 25px;
			text-align: center;
		}
			.pg-post .post-conteudo div.video iframe{
				width: 100%;
				min-height: 462px;
			}
			.pg-post .post-conteudo div.video .figcaption{
				padding: 16px 0;
				display: block;
			}
		.pg-post .post-conteudo ul.compartilhar{
			display: flex;
			justify-content: center;
			margin: 0;
			border-top: 1px solid var(--preto);
			padding: 25px 0;
		}
			.pg-post .post-conteudo ul.compartilhar li{
				height: 50px;
				width: 50px;
				background-color: var(--amarelo-footer);
				border-radius: 100%;
				text-align: center;
				line-height: 50px;
				margin: 0 10px;
			}
				.pg-post .post-conteudo ul.compartilhar li a{
					display: block;
				}
					.pg-post .post-conteudo ul.compartilhar li a img{
						width: 100%;
						max-width: 30px;
					}
		.pg-post .post-conteudo article{
			padding: 0 70px;
			line-height: 28px;
		}
			.pg-post .post-conteudo article p{
				font-size: 16px;
			}
			.pg-post .post-conteudo article ul{

			}
				.pg-post .post-conteudo article ul li{

				}
			.pg-post .post-conteudo article ol{

			}
				.pg-post .post-conteudo article ol li{

				}
			.pg-post .post-conteudo article h3{
				font-size: 32px;
				font-family: var(--league-spartan);
			}
			.pg-post .post-conteudo article h4{

			}
		.pg-post .post-conteudo .sobre-autor{
			display: flex;
			margin: 55px 0 0;
			border-top: 3px double var(--preto);
			padding: 20px 0;
			border-bottom: 3px double var(--preto);
		}
			.pg-post .post-conteudo .sobre-autor figure.foto-autor{
				max-width: 100px;
			}
				.pg-post .post-conteudo .sobre-autor figure.foto-autor img{
					width: 100%;
					border-radius: 100%;
				}
			.pg-post .post-conteudo .sobre-autor article{
				flex-shrink: 30;
				padding: 0 0 0 25px;
			}
				.pg-post .post-conteudo .sobre-autor article p{
					font-weight: 200;
				}
					.pg-post .post-conteudo .sobre-autor article p a{
						font-family: var(--domine);
						font-weight: 600;
						color: var(--amarelo);
					}
		.pg-post .post-conteudo .assuntos{
			display: flex;
			margin: 25px 0;
			align-items: center;
		}
			.pg-post .post-conteudo .assuntos span{
				font-family: var(--league-spartan);
				font-size: 20px;
			}
			.pg-post .post-conteudo .assuntos ul{
				display: flex;
				margin: 0;
				align-items: center;
				flex-wrap: wrap;
			}
				.pg-post .post-conteudo .assuntos ul li{
					margin: 0 5px;
				}
					.pg-post .post-conteudo .assuntos ul li a{
						color: var(--branco);
						background-color: var(--salmao-escuro);
						padding: 7px;
						font-weight: 300;
						text-decoration: none;
						display: inline-block;
						margin: 2px 0;
					}

/* --- MEDIA QUERY --- */
@media(max-width: 991px){
	.pg-post div.post-info p.post-resumo {
		font-size: 16px;
	}
	.pg-post div.post-info h2.post-titulo {
		font-size: 35px;
	}
	.pg-post .post-conteudo article {
		padding: 0;
	}
}
@media(max-width: 768px){
	.pg-post .post-conteudo {
		 padding-right: 0;
	}
}
@media(max-width: 680px){
	.pg-post ul.lista-posts li {
		display: block !important;
	}
	.pg ul.lista-posts li figure {
		max-width: 100% !important;
		padding: 0 !important;
	}
	.pg-post ul.lista-posts li span.post-info a h2.post-titulo{
		font-size: 22px;
	}
	.pg-post .post-conteudo ul.compartilhar li {
		height: 45px;
		width: 45px;
		line-height: 43px;
	}
	.pg-post .post-conteudo ul.compartilhar li a img {
		max-width: 25px;
	}
}
@media(max-width: 500px){
	.pg-post .post-conteudo .assuntos {
		display: block;
	}
}
@media(max-width: 425px){
	.pg-post div.post-info p.post-resumo {
		font-size: 15px;
	}
	.pg-post div.post-info h2.post-titulo {
		font-size: 28px;
	}
}
/* MEDIA QUERY */