/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** IMPORTAÇÃO CSS EXTERNO
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** HEADER
**** FOOTER
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Heebo', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Domine', serif;

*/

/* CATEGORIAS */
  @import url("categoria.css");

/* AUTOR */
  @import url("autor.css");

/* CONTATO */
  @import url("contato.css");

/* SERVIÇOS */
  @import url("servicos.css");

/* INSTITUCIONAL */
  /*@import url("institucional.css");*/

/* SINGLE */
  @import url("single.css");

/* QUEM SOMOS */
  @import url("sobre.css");

/* APOIE O PROJETO */
  @import url("apoie-o-projeto.css");

/* SIDEBARS */
  @import url("sidebar.css");

  @import url('../fonts/league-spartan/league-spartan.otf');

/* IMPORTAÇÃO DE FONTES*/
  @font-face {
    font-family: league-spartan;
    src: url('../fonts/league-spartan/league-spartan.otf');
    font-style: normal;
    font-weight: normal;
  }

:root{
  --amarelo: #dddc00;
  --amarelo-claro: #e8e751;
  --amarelo-footer: #f9dc5c;
  --amarelo-footer-claro: #ffeb95;
  --salmao-escuro: #ff4752;
  --cinza: #cbcbcb;
  --branco: #ffffff;
  --preto: #000000;
  --preto-claro: #141414;
  --libre-franklin: 'Libre Franklin', sans-serif;
  --domine: 'Domine', serif;
  --league-spartan: 'league-spartan', sans-serif;
}


/* --- BODY --- */
body{
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
}
body.travar-scroll{
  overflow-y: hidden;
}
/* BODY */


/* --- HEADER --- */
header{
  padding: 25px 0 38px;
  position: relative;
}
  header .abrir-menu-mobile{
    position: absolute;
    top: 30px;
    left: 20px;
    display: none;
    width: 100%;
    max-width: 30px;
    z-index: 2;
  }
    header .abrir-menu-mobile span{
      display: block;
    }
      header .abrir-menu-mobile span img{
        width: 100%;
      }
  header .topo{
    border-bottom: 1px solid #bcbcbc;
    padding: 0 0 30px;
  }
  header .row{
    display: flex;
    align-items: center;
  }
  header a.logo{

  }
    header a.logo figure{

    }
      header a.logo figure img{
        width: 100%;
        max-width: 100%;
      }
  header nav.menu-principal{
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
  }
  header nav.menu-principal.menu-mobile{
    left: 0;
  }
  header nav.menu-principal span.close-menu{
    display: none;
    float: right;
    font-size: 30px;
    font-family: var(--domine);
    font-weight: 600;
    margin: 10px 25px;
    background-color: var(--branco);
    border-radius: 100%;
    width: 42.4px;
    text-align: center;
  }
    header nav.menu-principal ul{
      display: flex;
      justify-content: space-evenly;
      margin: 0;
    }
      header nav.menu-principal ul li{

      }
      header nav.menu-principal ul li:hover ul.submenu{
        display: block;
      }
        header nav.menu-principal ul li a{
          color: var(--preto);
        }
        header nav.menu-principal ul li ul.submenu{
          display: none;
          border-top: 1px solid #dedede;
          position: absolute;
          background-color: var(--branco);
          z-index: 2;
        }
        header nav.menu-principal ul li ul.submenu.submenu-ativo{
          display: block;
        }
          header nav.menu-principal ul li ul.submenu li.item-submenu{
            padding: 3px 8px 2px;
            border-bottom: 1px dashed #dedede;
            margin: 5px 0;
            z-index: 2;
          }
            header nav.menu-principal ul li ul.submenu li.item-submenu a{

            }
  header .menu-redes-sociais{
    display: flex;
    justify-content: space-evenly;
  }
    header .menu-redes-sociais nav.redes-sociais{

    }
      header .menu-redes-sociais nav.redes-sociais ul{
        display: flex;
        justify-content: space-evenly;
        margin: 0;
      }
        header .menu-redes-sociais nav.redes-sociais ul li{
          padding: 0 7px;
        }
          header .menu-redes-sociais nav.redes-sociais ul li a{

          }
            header .menu-redes-sociais nav.redes-sociais ul li a img{
              width: 100%;
              max-width: 16px;
            }
    header .menu-redes-sociais span.participar{

    }
      header .menu-redes-sociais span.participar a{
        color: var(--preto);
      }
    header .menu-redes-sociais span.pesquisar-icone{
      cursor: pointer;
    }
      header .menu-redes-sociais span.pesquisar-icone img{
        width: 100%;
        max-width: 20px;
      }
  header .formulario-pesquisar{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -200%;
    background-color: var(--branco);
    z-index: 3;
    padding: 100px 0 0;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
  }
  header .formulario-pesquisar.pesquisar-ativo{
    left: 0;
  }
    header .formulario-pesquisar .close-pesquisar{
      position: absolute;
      right: 60px;
      top: 30px;
      font-size: 30px;
      font-family: var(--domine);
      font-weight: 600;
      background-color: var(--salmao-escuro);
      color: var(--branco);
      border-radius: 100%;
      width: 42.4px;
      text-align: center;
      cursor: pointer;
    }
    header .formulario-pesquisar form{
      text-align: center;
      padding: 0 10px;
    }
      header .formulario-pesquisar form input{
        display: inline-block;
        width: 100%;
        max-width: 630px;
        padding: 10px 10px;
        margin: 15px 0 0;
      }
      header .formulario-pesquisar form input[type="submit"]{
        max-width: 140px;
        padding: 14px 0 11px;
        background-color: var(--amarelo);
        color: var(--branco);
        font-family: var(--league-spartan);
        text-transform: uppercase;
        border: none;
      }
/* HEADER */


/* --- FOOTER --- */
footer{
  background-color: var(--amarelo-footer);
  padding: 50px 0 20px;
  margin-top: 30px;
}
  footer figure.logo{

  }
    footer figure.logo img{
      width: 100%;
    }
  footer nav.menu-footer{
    padding: 0 0 0 12px;
  }
    footer nav.menu-footer ul{
      padding: 0 0 0 12px;
    }
      footer nav.menu-footer ul li.menu-footer-item{

      }
        footer nav.menu-footer ul li.menu-footer-item a{
          color: var(--preto);
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
        }
        footer nav.menu-footer ul li.menu-footer-item a:hover{
          text-decoration: underline;
        }
        footer nav.menu-footer ul li.menu-footer-item ul.submenu{

        }
          footer nav.menu-footer ul li.menu-footer-item ul.submenu li.item-submenu{

          }
            footer nav.menu-footer ul li.menu-footer-item ul.submenu li.item-submenu a{

            }
      footer nav.menu-footer ul li.rede-social{

      }
        footer nav.menu-footer ul li.rede-social a{

        }
          footer nav.menu-footer ul li.rede-social a img{

          }
  footer nav.menu-redes-sociais{

  }
    footer nav.menu-redes-sociais ul{
      display: flex;
      justify-content: space-evenly;
    }
      footer nav.menu-redes-sociais ul li.rede-social{
        width: 55px;
        height: 55px;
        line-height: 52px;
        text-align: center;
        border-radius: 100%;
        background-color: var(--amarelo-footer-claro);
      }
        footer nav.menu-redes-sociais ul li.rede-social a{
          display: block;
        }
          footer nav.menu-redes-sociais ul li.rede-social a img{
            width: 100%;
            max-width: 30px;
          }
  footer .copyritgh{

  }
    footer .copyritgh p{

    }
/* FOOTER */


/* --- PÁGINA INICIAL --- */
.pg-inicial{

}
  .pg-inicial section.secao-destaque{

  }
    .pg-inicial section.secao-destaque h3.secao-titulo{

    }
    .pg-inicial section.secao-destaque ul{

    }
      .pg-inicial section.secao-destaque ul li.post-destaque{
        display: flex;
      }
        .pg-inicial section.secao-destaque ul li.post-destaque figure.post-imagem{
          max-width: 520px;
          flex-grow: 2;
          width: 100%;
          padding: 20px;
        }
          .pg-inicial section.secao-destaque ul li.post-destaque figure.post-imagem img{
            width: 100%;
          }
        .pg-inicial section.secao-destaque ul li.post-destaque span.post-info{
          flex-shrink: 2;
          padding: 0 10px;
        }
          .pg-inicial section.secao-destaque ul li.post-destaque span.post-info a{

          }
            .pg-inicial section.secao-destaque ul li.post-destaque span.post-info a span.post-categoria{

            }
            .pg-inicial section.secao-destaque ul li.post-destaque span.post-info a h2.post-titulo{
              font-size: 32px;
              min-height: 208px;
              margin-top: 8px;
            }
            .pg-inicial section.secao-destaque ul li.post-destaque span.post-info a h2.post-autor{

            }
          .pg-inicial section.secao-destaque ul li.post-destaque span.post-info p.post-resumo{
            min-height: 80px;
          }
        .pg-inicial section.secao-destaque ul li.post-destaque a.mais-posts{

        }
      .pg-inicial section.secao-destaque ul li.post-destaque-menor{
        display: inline-block;
        width: 100%;
        max-width: 49%;
        padding: 19px;
      }
          .pg-inicial section.secao-destaque ul li.post-destaque-menor figure.post-imagem{
            max-width: 380px;
            margin: 0 auto;
            padding: 0px;
          }
            .pg-inicial section.secao-destaque ul li.post-destaque-menor figure.post-imagem img{
              width: 100%;
            }
          .pg-inicial section.secao-destaque ul li.post-destaque-menor span.post-info{
          }
            .pg-inicial section.secao-destaque ul li.post-destaque-menor span.post-info a{
              display: block;
            }
              .pg-inicial section.secao-destaque ul li.post-destaque-menor span.post-info a span.post-categoria{
                font-size: 11px;
                display: block;
                margin-top: 7px;
              }
              .pg-inicial section.secao-destaque ul li.post-destaque-menor span.post-info a h2.post-titulo{
                font-size: 22px;
                min-height: 90px;
                margin-top: 8px;
              }
              .pg-inicial section.secao-destaque ul li.post-destaque-menor span.post-info a h2.post-autor{

              }
            .pg-inicial section.secao-destaque ul li.post-destaque-menor span.post-info p.post-resumo{
              font-size: 13px;
              min-height: 70px;
            }
          .pg-inicial section.secao-destaque ul li.post-destaque-menor a.mais-posts{

          }
  .pg-inicial section.secao-categoria{
    background-color: #edb477;
    padding: 20px 0;
    margin: 0 0 50px;
  }
    .pg-inicial section.secao-categoria .categoria-descricao{
      
    }
      .pg-inicial section.secao-categoria .categoria-descricao>span{
        color: var(--branco);
        font-size: 17px;
        font-weight: 100;
      }
      .pg-inicial section.secao-categoria .categoria-descricao h3.categoria-titulo{
        font-family: var(--league-spartan);
        font-size: 37px;
      }
      .pg-inicial section.secao-categoria .categoria-descricao p.categoria-descricao{
        font-size: 16px;
      }
    .pg-inicial section.secao-categoria ul.categoria-posts{
      display: flex;
      justify-content: center;
    }
      .pg-inicial section.secao-categoria ul.categoria-posts li{
        padding: 20px;
        display: block;
      }
        .pg-inicial section.secao-categoria ul.categoria-posts li figure.post-imagem{
          padding: 0;
        }
          .pg-inicial section.secao-categoria ul.categoria-posts li figure.post-imagem img{
            width: 100%;
          }
        .pg-inicial section.secao-categoria ul.categoria-posts li span.post-info{
          padding: 0;
        }
          .pg-inicial section.secao-categoria ul.categoria-posts li span.post-info a{
            color: var(--branco);
          }
            .pg-inicial section.secao-categoria ul.categoria-posts li span.post-info a span.post-categoria{
              font-size: 13px;
              display: block;
              margin-top: 8px;
              color: var(--amarelo-footer-claro);
            }
            .pg-inicial section.secao-categoria ul.categoria-posts li span.post-info a h2.post-titulo{
              font-size: 25px;
              min-height: 100px;
              margin-top: 5px;
            }
            .pg-inicial section.secao-categoria ul.categoria-posts li span.post-info a h2.post-autor{
              color: var(--branco);
            }
          .pg-inicial section.secao-categoria ul.categoria-posts li span.post-info p.post-resumo{
            min-height: 60px;
          }
    .pg-inicial section.secao-categoria a.mais-posts{
      display: initial;
      color: var(--branco);
    }
  .pg-inicial section.secao-posts{

  }
    .pg-inicial section.secao-posts h3.secao-titulo{

    }
    .pg-inicial section.secao-posts ul.lista-posts{

    }
      .pg-inicial section.secao-posts ul.lista-posts li{
        display: flex;
        margin: 30px 0;
      }
        .pg-inicial section.secao-posts ul.lista-posts li figure.post-imagem{
          max-width: 320px;
          padding: 12px;
        }
          .pg-inicial section.secao-posts ul.lista-posts li figure.post-imagem img{
            width: 100%;
          }
        .pg-inicial section.secao-posts ul.lista-posts li span.post-info{
          flex-shrink: 15;
          padding: 10px;
        }
          .pg-inicial section.secao-posts ul.lista-posts li span.post-info a{

          }
            .pg-inicial section.secao-posts ul.lista-posts li span.post-info a span.post-categoria{

            }
            .pg-inicial section.secao-posts ul.lista-posts li span.post-info a h2.post-titulo{
              font-size: 25px;
              margin: 7px 0;
            }
            .pg-inicial section.secao-posts ul.lista-posts li span.post-info a h2.post-autor{

            }
          .pg-inicial section.secao-posts ul.lista-posts li span.post-info p{
            font-size: 15px;
            min-height: 70px;
            padding-bottom: 10px;
          }
        .pg-inicial section.secao-posts ul.lista-posts li a.mais-posts{

        }
/* PÁGINA INICIAL */


/* --- NEWSLETTER --- */
.newsletter{
  position: fixed;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100%;
  background-color: var(--branco);
  z-index: 5;
  -webkit-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  -ms-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}
.newsletter.formulario-newletter-ativo{
  left: 0;
}
  .newsletter .formulario-newsletter{
    text-align: center;
    display: block;
    width: 100%;
    margin: 140px 0 0;
    position: relative;
    padding: 0 10px;
  }
      .newsletter .formulario-newsletter span{
        position: absolute;
        right: 170px;
        top: -70px;
        font-size: 30px;
        color: var(--branco);
        background-color: var(--salmao-escuro);
        width: 42.4px;
        border-radius: 100%;
        cursor: pointer;
        font-family: var(--domine);
      }
      .newsletter .formulario-newsletter h2.pagina-titulo{
        margin: 0;
        font-family: var(--domine);
      }
      .newsletter .formulario-newsletter p{
        color: var(--cinza);
        font-family: var(--libre-franklin);
        font-weight: 300;
        font-size: 18px;
        max-width: 300px;
        margin: 5px auto 25px;
        line-height: 20px;
      }
      .newsletter .formulario-newsletter form{
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
      }
        .newsletter .formulario-newsletter form input{
          display: block;
          width: 100%;
          padding: 8px 12px;
          border: 1px solid #bdbdbd;
          margin: 10px 0;
        }
        .newsletter .formulario-newsletter form input[type="submit"]{
          display: inline-block;
          width: unset;
          padding: 13px 30px 8px;
          background-color: var(--amarelo);
          border: none;
          color: var(--branco);
          font-size: 15px;
          font-weight: 600;
          font-family: var(--league-spartan);
          text-transform: uppercase;
          letter-spacing: 1px;
        }
/* NEWSLETTER */


/* --- GERAL --- */
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
li{
  list-style: none;
}
input{
  outline: none;
}

.pg{

}
  .pg section{

  }
  .pg h3.secao-titulo{
    font-family: var(--league-spartan);
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: var(--amarelo-claro);
  }
  .pg ul.lista-posts{

  }
    .pg ul.lista-posts li{
      display: flex;
      margin: 30px 0;
    }
      .pg ul.lista-posts li figure{
        max-width: 320px;
        padding: 12px;
      }
        .pg ul.lista-posts li figure img{
          width: 100%;
        }
      .pg ul.lista-posts li span.post-info{
        flex-shrink: 15;
        padding: 10px;
        display: block;
      }
        .pg ul.lista-posts li span.post-info a{
          
        }
          .pg ul.lista-posts li span.post-info a span.post-categoria{
            color: var(--salmao-escuro);
            font-weight: 700;
            text-transform: uppercase;
            font-family: var(--league-spartan);
            /*font-size: 13px;*/
          }
          .pg ul.lista-posts li span.post-info a h2.post-titulo{
            color: #000;
            font-family: var(--domine);
            font-weight: 600;
            margin: 0;
            padding: 0 0 10px;
          }
          .pg ul.lista-posts li span.post-info a h2.post-autor{
            font-family: var(--libre-franklin);
            font-weight: 400;
            font-size: 15px;
            color: #828282;
            /*text-transform: uppercase;*/
            margin: 0;
          }
        .pg ul.lista-posts li span.post-info p.post-resumo{
          margin: 0;
          padding: 0 0 10px;
        }
      .pg ul.lista-posts li a.mais-posts{

      }
.pg .sobre-autor{
  display: flex;
  margin: 55px 0 0;
  border-top: 3px double var(--preto);
  padding: 20px 0;
  border-bottom: 3px double var(--preto);
}
  .pg .sobre-autor figure.foto-autor{
    max-width: 100px;
  }
    .pg .sobre-autor figure.foto-autor img{
      width: 100%;
      border-radius: 100%;
    }
  .pg .sobre-autor article{
    flex-shrink: 30;
    padding: 0 0 0 25px;
  }
    .pg .sobre-autor article p{
      font-weight: 200;
    }
      .pg .sobre-autor article p a{
        font-family: var(--domine);
        font-weight: 600;
        color: var(--amarelo);
      }
.pg .paginador{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
}
  .pg .paginador p{
    margin: 0;
  }
    .pg .paginador p a{
      color: var(--preto);
      font-family: var(--domine);
      font-weight: 600;
      font-size: 15px;
      position: relative;
    }
    .pg .paginador p a.next{
      padding-right: 17px;
    }
    .pg .paginador p a.prev{
      padding-left: 17px;
    }
    .pg .paginador p a::before{
      content: '';
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      background-size: 10px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .pg .paginador p a.next::before{
      background-image: url('../img/r.svg');
      right: 0;
    }
    .pg .paginador p a.prev::before{
      background-image: url('../img/l.svg');
      left: 0;
    }

.pg{

}
  .pg .titulo{
    background-color: #edb477;
    padding: 100px 0 130px;
  }
    .pg .titulo h1{
      text-align: center;
      margin: 0;
      font-family: var(--league-spartan);
      font-size: 60px;
    }

.pg h2.post-titulo{
  color: #000;
  font-family: var(--domine);
  font-weight: 600;
  margin: 0;
}
.pg h2.pagina-titulo{
  font-family: var(--domine);
  font-weight: 600;
  font-size: 36px;
  color: var(--preto);
}
.pg h2.post-autor{}
.pg h2.nome-colunista{}
.pg h2.post-autor, h2.nome-colunista{
  font-family: var(--libre-franklin);
  font-weight: 400;
  font-size: 15px;
  color: #828282;
  /* text-transform: uppercase; */
  margin: 0;
}
.pg a.mais-posts{
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--league-spartan);
  color: var(--amarelo-claro);
}
.pg span.post-categoria{
  color: var(--salmao-escuro);
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--league-spartan);
  /* font-size: 13px;*/
}
.pg a:hover, .pg a:hover h2.post-titulo, .pg a:hover span.post-categoria, .pg a:hover h2.nome-colunista{
  text-decoration: underline;
}
.pg a, .pg a h2.post-titulo, .pg a span.post-categoria, .pg h2.nome-colunista{
  -webkit-transition: transform .1s;
  -moz-transition: transform .1s;
  -ms-transition: transform .1s;
  -o-transition: transform .1s;
  transition: transform .1s;
}
/* GERAL */


/* --- MEDIA QUERY --- */
@media(max-width: 991px){
  header .menu-redes-sociais span.pesquisar-icone{
    margin-left: 7px;
  }
  header .menu-redes-sociais span.participar {
    max-width: 70px;
    text-align: center;
  }
}
@media(max-width: 820px){
  header .formulario-pesquisar .close-pesquisar {
    right: 30px;
    top: 20px;
  }
  header .formulario-pesquisar {
    padding: 130px 0 0;
  }
}
@media(max-width: 768px){
  header .row {
    display: block;
  }
  header nav.menu-principal span.close-menu{
    display: block;
  }
  header nav.menu-principal ul {
    display: block;
    padding: 50px;
  }
  header nav.menu-principal ul li a {
    font-size: 25px;
  }
  header nav.menu-principal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -200%;
    background-color: var(--amarelo);
    z-index: 4;
  }
  header a.logo figure {
    max-width: 300px;
    margin: 0 auto 20px;
  }
  header .menu-redes-sociais nav.redes-sociais ul {
    justify-content: center;
  }
  header .menu-redes-sociais {
    display: block;
    text-align: center;
  }
  header .menu-redes-sociais span.participar {
    max-width: 100%;
    text-align: center;
    display: inline-block;
    margin: 5px;
  }
  .container {
    padding: 0 20px;
  }
  .pg-inicial section.secao-destaque ul li.post-destaque span.post-info a h2.post-titulo {
    min-height: initial;
    margin-top: 8px;
  }
  .pg-inicial section.secao-destaque ul li.post-destaque {
    display: block;
  }
  .pg-inicial section.secao-destaque ul li.post-destaque figure.post-imagem{
    margin: 0 auto;
  }
  footer figure.logo {
    max-width: 300px;
    margin: 0 auto 20px;
  }
  footer nav.menu-redes-sociais ul li.rede-social {
    margin: 0 10px;
  }
  footer nav.menu-redes-sociais ul {
    display: flex;
    justify-content: center;
  }
  footer nav.menu-footer ul {
    padding: 0; 
    text-align: center;
  }
  footer nav.menu-footer{
    padding-left: 0;
  }
  footer .copyritgh {
    text-align: center;
  }
  .pg-inicial section.secao-categoria a.mais-posts {
    display: block;
  }
  header .abrir-menu-mobile {
    display: block;
  }
  .pg .paginador {
    padding: 0;
  }
  header nav.menu-principal ul li ul.submenu {
    display: block;
    border-top: 1px solid #dedede;
    position: initial;
    background-color: transparent;
    padding: 0px 15px;
    border: none;
  }
  header nav.menu-principal ul li ul.submenu li.item-submenu {
    border: none;
  }
  .newsletter .formulario-newsletter span {
    right: 40px;
    top: -90px;
  }
}
@media(max-width: 650px){
  header .formulario-pesquisar .close-pesquisar {
    right: 10px;
  }
}
@media(max-width: 500px){
  .pg-inicial section.secao-destaque ul li.post-destaque-menor {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0; 
  }
  .pg-inicial section.secao-destaque ul li.post-destaque-menor span.post-info a h2.post-titulo {
    font-size: 22px;
    min-height: initial; 
    margin-top: 8px;
  }
  .pg-inicial section.secao-destaque ul li.post-destaque span.post-info p.post-resumo {
   min-height: initial;
  }
  .pg-inicial section.secao-destaque ul li.post-destaque-menor span.post-info p.post-resumo {
    min-height: initial;
  }
  .pg-inicial section.secao-categoria ul.categoria-posts li {
    padding: 0 40px;
    display: block;
  }
  .pg-inicial section.secao-categoria ul.categoria-posts li figure.post-imagem {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-width: 380px;
  }
  .pg-inicial section.secao-categoria ul.categoria-posts {
    display: block;
  }
  .pg-inicial section.secao-categoria ul.categoria-posts li span.post-info p.post-resumo {
   min-height: initial;
  }
  .pg-inicial section.secao-categoria ul.categoria-posts li span.post-info a h2.post-titulo {
    min-height: initial;
  }
  .pg-inicial section.secao-posts ul.lista-posts li figure.post-imagem {
    max-width: 380px;
    margin: 0 auto;
  }
  .pg-inicial section.secao-posts ul.lista-posts li {
    display: block;
  }
  .pg ul.lista-posts li {
    display: block !important;
  }
  .pg ul.lista-posts li figure {
    max-width: 100% !important;
    padding: 0;
  }
  .pg h2.post-titulo {
    min-height: 0 !important;
  }
  .pg ul.lista-posts li span.post-info p.post-resumo {
    min-height: 0;
  }
  .pg h2.pagina-titulo{
    font-size: 30px;
    text-align: center;
  }
  .newsletter .formulario-newsletter span {
    right: 30px;
    top: -110px;
  }
  .pg .sobre-autor figure.foto-autor {
    margin: 0 auto 15px !important;
  }
  .pg .sobre-autor article {
    padding: 0 !important;
  }
  .pg .sobre-autor {
    display: block !important;
    margin: 0 auto !important;
  }
  footer nav.menu-redes-sociais ul li.rede-social {
    width: 45px;
    height: 45px;
    line-height: 43px;
  }
  footer nav.menu-redes-sociais ul li.rede-social a img {
    max-width: 25px;
  }
  header nav.menu-principal ul li a {
    font-size: 20px;
  }
  header nav.menu-principal ul {
    padding: 35px;
  }
}
@media(max-width: 425px){
  .pg ul.lista-posts li figure {
    max-width: 100% !important;
    padding: 10px 0 !important;
  }
  .pg ul.lista-posts li span.post-info {
    padding: 10px 0 !important;
    display: block;
  }
  .pg ul.lista-posts li span.post-info p.post-resumo {
    min-height: initial !important;
  }
  .container {
    padding: 0 10px;
  }
  .pg ul.lista-posts li{
    padding: 0 !important;
  }
  .sidebar-mais-vistos .anuncios a.anuncio figure {
    max-width: 100%;
  }
  .pg h3.secao-titulo {
    font-size: 20px;
    text-align: center;
  }
  .pg-inicial section.secao-categoria .categoria-descricao h3.categoria-titulo {
    font-size: 32px;
  }
  header .abrir-menu-mobile {
    top: initial;
    bottom: 75px;
    max-width: 24px;
  }
}
/* MEDIA QUERY 