/* --- PÁGINA SOBRE --- */

.pg-sobre{

}
	.pg-sobre .titulo{

	}
		.pg-sobre .titulo h1{

		}
	.pg-sobre article{
		display: flex;
		justify-content: center;
	}
		.pg-sobre article p{
			font-size: 16px;
			font-family: var(--domine);
			padding: 30px 10px;
			max-width: 38%;
		}
	.pg-sobre .equipe{

	}
		.pg-sobre .equipe h3.secao-titulo{

		}
		.pg-sobre .equipe ul{
			display: flex;
			justify-content: space-evenly;
			margin: 50px 0 140px;
			flex-wrap: wrap;
		}
			.pg-sobre .equipe ul li{
				text-align: center;
				box-shadow: 0 0 17px -11px #000;
				border-radius: 5px;
				padding: 35px;
				margin: 7px;
			}
				.pg-sobre .equipe ul li a{
					text-decoration: none;
				}
				.pg-sobre .equipe ul li figure.equipe-foto{
					max-width: 160px;
					margin: 0 auto;
				}
					.pg-sobre .equipe ul li figure.equipe-foto img{
						width: 100%;
						border-radius: 100%;
					}
				.pg-sobre .equipe ul li h2.equipe-nome{
					font-size: 30px;
					font-family: var(--domine);
					font-weight: 600;
					color: var(--amarelo);
				}
				.pg-sobre .equipe ul li span.cargo{
					color: var(--preto);
					font-family: var(--libre-franklin);
					font-weight: 700;
				}
	.pg-sobre .apoie{

	}
		.pg-sobre .apoie h4{
			text-align: center;
		}
			.pg-sobre .apoie h4 a{
				display: inline-block;
				color: var(--preto);
				border: 2px solid var(--amarelo-footer);
				border-radius: 27px;
				padding: 11px 70px;
				font-size: 22px;
				text-decoration: none;
				background-color: var(--amarelo-footer);
				-webkit-transition: ease-in-out .1s;
				-moz-transition: ease-in-out .1s;
				-ms-transition: ease-in-out .1s;
				-o-transition: ease-in-out .1s;
				transition: ease-in-out .1s;
			}
			.pg-sobre .apoie h4 a:hover{
				background-color: transparent;
			}

/* --- MEDIA QUERY --- */
@media(max-width: 991px){
	.pg-sobre article p{
		font-size: 15px;
		max-width: 100%;
	}
}
@media(max-width: 768px){
	.pg-sobre article {
		display: block;
	}
	.pg-sobre article p{
		padding: 0px 10px;
	}
	.pg-sobre .equipe {
		margin-top: 50px;
	}
	.pg-sobre .equipe ul {
		margin: 50px 0 60px;
	}
}
@media(max-width: 375px){
	.pg-sobre .apoie h4 a {
		padding: 11px 60px;
		font-size: 20px;
	}
}
/* MEDIA QUERY */